.index_about_number_box {
  width: 100%;
  height: auto;
  background: #282a35;
}

.contentWH {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.index_about_number_ul {
  width: 100%;
  height: 162px;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.index_about_number_ul li {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.index_about_number_ul_left {
  width: 42px;
}

.index_about_number_ul_left img {
  width: 100%;
  height: auto;
  display: block;
}

.index_about_number_ul_right {
  margin-left: 30px;
}

.index_about_number_ul_right h4 {
  font-size: 22px;
  color: #FFFFFF;
  font-family: "Lato-Bold";
  margin: 0;
}

.index_about_number_ul_right p {
  font-size: 16px;
  color: #FFFFFF;
  margin: 0;
}

/* Responsive */
@media (max-width: 1200px) {
  .contentWH {
    width: 92%;
  }
}

@media (max-width: 990px) {
  .index_about_number_ul_right {
    margin-left: 10px;
  }

  .index_about_number_ul_right h4 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .index_about_number_ul {
    height: auto;
    padding: 3.2vw 0;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0;
  }

  .index_about_number_ul li {
    width: 48.5%;
    margin-top: 3.2vw;
  }

  .index_about_number_ul_left {
    width: 6vw;
  }

  .index_about_number_ul_right h4 {
    font-size: 4.2vw;
  }

  .index_about_number_ul_right p {
    font-size: 3.6vw;
  }
}
